<router-outlet></router-outlet>

<div id="sidebar">
  <ul>
    <li class="menu-item" (click)="toggle($event)">Cadastros
      <ul class="submenu">
        <li routerLink="/customer">Clientes</li>
        <li routerLink="/user">Usuários</li>
        <li routerLink="/address">Endereços</li>
        <li routerLink="/products">Produtos</li>
      </ul>
    </li>
    <li class="menu-item" (click)="toggle($event)">Vendas
      <ul class="submenu">
        <li routerLink="/sales">Vendas</li>
        <!-- <li routerLink="/sale-item">Itens de Venda</li> -->
        <li routerLink="/get-sales">Consultar Vendas</li>
      </ul>
    </li>
    <li class="menu-item" (click)="toggle($event)">Relatórios
      <ul class="submenu">
        <li routerLink="/report">Relatórios</li>
      </ul>
    </li>
  </ul>
</div>



<main id="content">
</main>
