body {
  display: flex;
}

#sidebar {
  width: 200px;
  position: fixed;
  height: 100%;
  background-color: #7863F8;
  color: black;
  padding: 10px;
  font: 1em sans-serif;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  padding: 10px 0;
}

#content {
  margin-left: 20px;
  width: calc(100% - 210px);
  padding: 10px;
}

.submenu {
  display: none;
  font-size: 0.8em;
}

.menu-item.open .submenu {
  display: block;
}
