<div class="customer-container">
  <form>
    <div class="form-field">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name">
    </div>

    <div class="form-field">
      <label for="weight">Peso:</label>
      <input type="text" id="weight" name="weight">
    </div>

    <div class="form-field">
      <label for="description">Descrição:</label>
      <input type="text" id="description" name="description">
    </div>

    <div class="form-field">
      <label for="price">Preço:</label>
      <input type="text" id="price" name="price">
    </div>

    <div class="form-field">
      <label for="cost">Custo:</label>
      <input type="text" id="cost" name="cost">
    </div>

    <div class="form-field">
      <label for="quantity">Quantidade:</label>
      <input type="text" id="quantity" name="quantity">
    </div>

    <div class="multiselect-container" (click)="fetchData()" [class.open]="dropdownOpen">
      <div class="selected-items">
        <span *ngIf="selectedOptions.length === 0">Selecione opções</span>
        <span *ngIf="selectedOptions.length > 0">{{ selectedOptions.length }} opções selecionadas</span>
      </div>

      <ul *ngIf="dropdownOpen">
        <li *ngFor="let option of options" (click)="toggleSelection(option)">
          <input type="checkbox" [checked]="isSelected(option)">
          {{ option }}
        </li>
      </ul>
    </div>

    <input type="submit" value="Submit">
  </form>
</div>
